

.carzapp-banner {
    background-color: #22c8ff;
    background-image: url(../img/banner-bg.jpg);
    background-size: cover;
    background-repeat: none; 
}

.carousel-indicators {
    bottom: 20px;
}

.banner-row {
    height: 100vh;
}

.carousel {
    height: 100vh;

    @include angled-edge('inside bottom','upper left', #FFF, 80);

    @media(max-width:$screen-xs){
        @include angled-edge('inside bottom','upper left', #FFF, 40);
    }
    
    .item {
        height: 100%;
        width: 100%;
    }
    .icon-container {
        background-color: #09c;
        display: inline-block;
        font-size: 25px;
        line-height: 25px;
        padding: 1em;
        text-align: center;
        border-radius: 50%;
    }
    
}

.carousel-inner {
    height: 100%;
    position: relative;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

.caption-holder {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    .carousel-caption {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        position: relative;
        left: 10%;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0;
    }
    .positioned-banner-img {
        max-height: 57%;
    }
    .floated-img {
        max-width: 400px;
        display: table-cell;
        vertical-align: bottom;
        text-align: right;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0;
    }
   
}


.carousel-caption {
    .banner-logo {
        margin-bottom:30px;
        animation-delay: 1.5s;
    }

   
    /* Animation delays */
    h3 {
        /* Buying & Selling Car: */
        font-family: Roboto;
        font-size: 36px;
        @media (max-width:$screen-sm){
            font-size:24px;
            .smaller {
                font-size:20px;
            }
        }
        font-weight:100;
        color: #FFFFFF;
        text-shadow: none;
        line-height: 1.4em;
        letter-spacing: 1px;
        animation-delay: 2s;
        .smaller {
            font-size:18px;
        }
        }

        a > img{
            animation-delay: 2.5s;
           
        }

        h1 {
            // text-align: center;
            // margin-bottom: 30px;
            // font-size: 30px;
            // font-weight: bold;
            /* Buying & Selling Car: */
            font-family: Roboto-Light;
            font-size: 32px;
            color: #FFFFFF;
            letter-spacing: 1.09px;
        }

    }
   

