// footer styles added here

footer {
    padding:30px 0;
    background:$default-text;
    .logo-block {
        display: block;
        width: 100%;
        text-align:left;
        img {
            max-width:91px;
        }
    }
    .copyright-block {
        font-size:13px;
        letter-spacing: 1px;
        color:#DEDEDE;
        font-weight: 200;
        a {
            color:#DEDEDE;
            display:inline-block;
            transition: all 0.5s;
            line-height: 1.7em;

            &:hover, &:focus {
                text-decoration: none;
                color:#FFF;
            }
            &::after { 
                padding: 0 15px;
                content: "|";
            }
            &:last-child:after
            {
              content: '';
            }
            &:last-child {
                padding:0;
            }
        }
        .copyright-text {
            @media(max-width:$screen-sm){
                margin-top:20px;
                text-align: left;
            }
        }
    }
}