.open {
  >.dropdown-menu {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    li {
      a {
        color: #000;
      }
    }
  }
}

.dropdown-menu {
  li {
    a {
      color: #fff;
    }
  }
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  display: block;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.dropup {
  .dropdown-menu {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
  >.dropdown-menu {
    &:after {
      border-bottom: 0;
      border-top: 6px solid rgba(39, 45, 51, 0.9);
      top: auto;
      display: inline-block;
      bottom: -6px;
      content: '';
      position: absolute;
      left: 50%;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }
  }
}

.carousel-indicators {
    bottom: 20px;
}

.carousel-control {
  width:5%;
}

.navbar-default {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.29);
  background-image: none;
  box-shadow: none;
}

.light {
  background-color: #FFF;
  transition: all 0.5s;
  .light-logo {
    opacity: 0;
    display:none;
  }
  .dark-logo {
    opacity: 1;
  }
}

.light-logo {
  opacity: 1;
}

.dark-logo {
  opacity: 0;
}

.navbar-brand {
  >img {
    max-height: 30px;
    margin: 7px 0;
    @media (max-width:$screen-sm){
      max-height:25px;
      margin: 0;
    }
    
  }
}

.navbar-header {
  @media (max-width:$screen-sm){
     padding:10px 0;
    }
}

.navbar-nav {
  >li {
    >a {
      padding-top: 25px;
      padding-bottom: 25px;
      @media(max-width:$screen-sm){
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

// .navbar-brand {
//   >img {
//     max-height: 30px;
//     margin: 7px 0;
//   }
// }

$navbar-default-color:             #777 !default;
$navbar-default-bg:                #004767 !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                #DDD !default;
$navbar-default-link-hover-color:          #FFF !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #FFF !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;



// Default navbar
.navbar-default {
  @media (min-width:768px) {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.29);
  background-image: none;
  box-shadow: none;

  .navbar-brand {
    color: $navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $navbar-default-brand-hover-color;
      background-color:transparent;
    }
  }

  .navbar-text {
    color: #F8F8F8;
  }

  .navbar-nav {
    > li > a {
      color: #F8F8F8;

      &:hover,
      &:focus {
        color: #FFF;
        background-color: transparent;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: #FFF;
        background-color: transparent;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: #ccc;
        background-color: transparent;
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-default-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: transparent;
        color: #FFF;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-default-link-color;
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: #F8F8F8;
    &:hover {
      color: #FFF;
    }
  }

  .btn-link {
    color: $navbar-default-link-color;
    &:hover,
    &:focus {
      color: $navbar-default-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
      }
    }
  }
}
}

// Navbar when on white BG

.navbar-default.light {
  // background-color: $navbar-default-bg;
  // border-color: $navbar-default-border;

    background-color: #56a9cc;
    border-color: #4c9fc3;


  .navbar-brand {
    color: $navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $navbar-default-brand-hover-color;
      background-color: $navbar-default-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      // color: $navbar-default-link-color;
      color:#FFF;

      &:hover,
      &:focus {
        // color: $navbar-default-link-hover-color;
        color:#FFF;
        // background-color: $navbar-default-link-hover-bg;
        background-color: #5BB6DC;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        // color: $navbar-default-link-hover-color;
        color:#FFF;
        // background-color: $navbar-default-link-hover-bg;
        background-color: #5BB6DC;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border:none;
    border-color: $navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      // background-color: $navbar-default-toggle-hover-bg;
      background-color:#5bb6dc;
    }
    .icon-bar {
      // background-color: $navbar-default-toggle-icon-bar-bg;
      background-color:#FFF;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-default-border;
    border:none;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-default-link-active-bg;
        color: $navbar-default-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-default-link-color;
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }

  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $navbar-default-link-color;
    &:hover {
      color: $navbar-default-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-default-link-color;
    &:hover,
    &:focus {
      color: $navbar-default-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
      }
    }
  }
}

.navbar-default.dark-constant {
  background-color: #56a9cc !important;
  border-color: #4c9fc3 !important;
}