section {
    padding:50px 0;
    &.banner {
        padding:0;
        background-image:url();
        background-position:0 0;
        h1 {
            @include lg-heading();
            @media (max-width:$screen-xs){
                @include lg-heading($font-size:26px);
            }
        }

    }
    
    &.features {
        background-color:#fff;
        padding:50px 0 50px;
        h1 {
            @include lg-heading($color:$primary);
            
            @media (max-width:$screen-xs){
                @include lg-heading($color:$primary, $font-size:26px);
                text-align: center;
            }
            text-align: left;
            margin:0;
        }
        .feature-phone {
            @media (max-width:$screen-xs){
            margin: 0 auto;
            display: block;
            }
        }
        .feature {
            
            .title-block {
                display:flex;
                margin-bottom:10px;
                .icon {
                    line-height:22px;
                    margin-right:15px;
                    img {
                        width:32px;
                    }
                }
                .title {
                    font-size:22px;
                    font-weight:200;
                    vertical-align: middle; 
                    color:$default-text;
                }
            }
            .desc-block {
                font-weight:200;
                font-size: 16px;
                max-width: 90%;
                color:$light-text;
          }
        }

    }

    &.video-section {
        padding:180px 0 100px;
        @media (max-width:$screen-sm){ 
            padding:100px 0 100px;
        }
        h1 {
            margin-left:15px;
            @include lg-heading($color:#FFF);
            @media (max-width:$screen-sm){
                @include lg-heading($color:#FFF, $font-size:26px);
            }
            
        }

        .title-block {
            margin:0 auto;
            display:flex;
            align-items: center;
            justify-content: center;
            margin-bottom:10px;
            .icon {
                line-height:22px;
                margin-right:15px;
                img {
                    width:42px;
                }
            }
            .title {
                @include lg-heading($color:#FFF);
                @media (max-width:$screen-xs){
                    @include lg-heading($color:#FFF, $font-size:26px);
                    text-align: center;
                }
            }
        }


        .video-list {
            .title-block {
                margin:0 auto;
                display:flex;
                align-items: center;
                justify-content: left;
                @media(max-width:768px){
                    justify-content: left;
                }
                margin-bottom:20px;
                .icon {
                    align-self: flex-start;
                    line-height:22px;
                    margin-right:15px;
                    img {
                        width:25px;
                        
                    }
                }
                .desc-block {
                    font-weight:200;
                    font-size: 18px;
                    max-width: 90%;
                    letter-spacing: 1px;
                    color: rgba(255, 255, 255, 0.90);
              }
            }
            p {
                font-weight:200;
                font-size: 18px;
                max-width: 100%;
                letter-spacing: 1px;
                color: rgba(255, 255, 255, 0.90);
            }
        }

        @include angled-edge('inside top','lower right', #FFF, 80);
    
        @media(max-width:$screen-xs){
            @include angled-edge('inside top','lower right', #FFF, 40);
        }

        background:$dark;
        width:100%;
        position: relative;
        display:block;
        
    }

    &.contact {
        background: #FFF;
        h1 {
            @include lg-heading();
            @media (max-width:$screen-xs){
                @include lg-heading($font-size:26px);
            }
        }
        .contact-holder{
            padding:50px;
            position: relative;
            margin-top:-100px;
            background: white;
            -webkit-box-shadow: 10px 10px 10px 10px rgba(212, 212, 212, 0.50);
            box-shadow: 0px 0px 8px 8px rgba(212, 212, 212, 0.2);
        }

        h2 {
            font-weight:500;
            font-size: 20px;
            color: #4A4A4A;
            letter-spacing: 0;
            line-height: 30px;
        }
        button {
           width:100%;
           margin-top:20px;
           padding:10px;
           border-radius:12px;
           display:block;
           border:none;
            background: #7BC2FF;
            font-weight: 500;
            font-size: 20px;
            color: #FFFFFF;
        }
        .contact-line {
            display:flex;
            align-items: center;
            justify-content: left;
            margin-bottom:20px;

            .icon {
                align-self: flex-start;
                line-height:22px;
                margin-right:15px;
                img {
                    width:20px;
                    
                }
            }
            .details {
                font-weight:200;
                font-size: 16px;
                max-width: 90%;
                letter-spacing: 0.5px;
                color:$default-text;
                a {
                    color:$secondary;
                    &:hover {
                        text-decoration: underline;
                    }
                }
          }
        }
    }

    &.integrations {
        background-color:#FBFBFB;
        h1 {
            @include lg-heading();
            @media (max-width:$screen-xs){
                @include lg-heading($font-size:26px);
            }
        }
        h3 {
            /* Didnt find your soft: */
        font-weight:300;
        font-size: 28px;
        color:$default-text;
        letter-spacing: 0;
        }
        p {
            @include paragraph();
        }
        .sub-heading {
            background-color: $light-text;
            opacity: 0.3;
            margin:40px auto 20px;
        }
        .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
            background:$secondary;
        }
        .owl-theme .owl-dots .owl-dot span {
            width:15px;
            height:15px;
        }
        .owl-theme .owl-nav.disabled + .owl-dots {
            margin-top:30px;
        }
    }

    &.subscribe {
        background-image:url('../img/subscribe-bg.png');

        background-size:cover;
        min-height: 300px;
        h1 {
           
        font-weight: 200;
        font-size: 28px;
        color: #FFFFFF;
        letter-spacing: 0;
        }

        .subscribe-holder {
            max-width: 600px;
            margin:0 auto;
        }
        .input-group {
            margin: 20px auto;
            width: 100%;
        }
        input.btn.btn-lg,
        input.btn.btn-lg:focus {
            outline: none;
            border-radius: 18px;
            width: 70%;
            height: 60px;
            color:$default-text;
            text-align: left;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            @include placeholder {
                color:#CCC;
              }
        }
        button.btn {
            width: 30%;
            height: 60px;
            background: $secondary;
            border-color: darken($secondary, 5%);
            border-radius: 18px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            transition: all 0.5s;
            &:hover, &:focus {
                background: darken($secondary, 5%)
            }
        }
    }
    &.contact-careers {
        background-image:url();
        background-position:0 0;
        h1 {
            @include lg-heading();
            @media (max-width:$screen-xs){
                @include lg-heading($font-size:26px);
            }
        }
    }
}