section.terms-privacy {
    padding:100px 0;

    .content-holder {
        background:#FFF;
        padding:40px;
        @media($screen-xs){
            padding:0;
        }
    }
    
    .para-bullet > li {
        position: relative;
        padding-left: 40px;
        text-align: justify;
        margin-bottom: 5px;
    }
    .para-bullet > li > .bullet-01 {
        position: absolute;
        left: 12px;
        font-size: 12px;
        font-weight: 300;
    }
    @media (max-width: 640px) {
        ul > li > ul {
            margin-left: 0;
        }
        .navbar-mobile {
            display: none;
        }
        #footer {
            display: none;
        }
    }
   
    .para-bullet > li {
        position: relative;
        padding-left: 40px;
        text-align: justify;
        margin-bottom: 5px;
    }
    .para-bullet > li > .bullet-01 {
        position: absolute;
        left: 12px;
        font-size: 12px;
        font-weight: 300;
    }
    @media (max-width: 640px) {
        ul > li > ul {
            margin-left: 0;
        }
        .navbar-mobile {
            display: none;
        }
        #footer {
            display: none;
        }
    }
    .mg-top-navtop{
        margin-top: 0!important;
    }
    #mainabout{
        padding: 5px !important;
    }
    body{
        padding-top: 0!important;
    }
    .main_content_terms {
        padding: 0 !important;
    }
}