// variables

$light: #FFF;
$radius: 4px;
$btn-lg-spacing:10px 18px;
$btn-md-spacing:7px 14px;
$border-color: darken($primary, 1%);


@mixin button-lg($color:$light, $border-radius:$radius, $padding:$btn-lg-spacing, $background-color:$primary, $border-color:$border-color ){
    color:$light;
    border-radius:$border-radius;
    background-color:$primary;
    border-color:$border-color;
    &:hover {
        background-color:darken($primary, 5%);
    }
    &:active {
        background-color:darken($primary, 5%);
    }
    &:focus {
        background-color:darken($primary, 5%);
    }
}

@mixin button-md($color:$light, $border-radius:$radius, $padding:$btn-lg-spacing, $background-color:$primary, $border-color:$border-color ){
    color:$light;
    border-radius:$border-radius;
    background-color:$primary;
    border-color:$border-color;
    &:hover {
        background-color:darken($primary, 5%);
    }
    &:active {
        background-color:darken($primary, 5%);
    }
    &:focus {
        background-color:darken($primary, 5%);
    }
}

@mixin button-sm($color:$light, $border-radius:$radius, $padding:$btn-lg-spacing, $background-color:$primary, $border-color:$border-color ){
    color:$light;
    border-radius:$border-radius;
    background-color:$primary;
    border-color:$border-color;
    &:hover {
        background-color:darken($primary, 5%);
    }
    &:active {
        background-color:darken($primary, 5%);
    }
    &:focus {
        background-color:darken($primary, 5%);
    }
}