.max-width { 
    max-width: 1280px;
    margin: 0 auto;
    }

    .sub-heading {
        display:block;
        clear:both;
        width:150px;
        height:2px;
        margin:10px 0 25px;
        background:$primary;
    }


.mt {
    &-0 {
        margin-top:0px;
    }
    &-10 {
        margin-top:10px;
    }
    &-20 {
        margin-top:20px;
    }
    &-30 {
        margin-top:30px;
    }
    &-40 {
        margin-top:40px;
    }
    &-50 {
        margin-top:50px;
    }
    &-100 {
        margin-top:100px;
    }
}

.mb {
    &-0 {
        margin-top:0px;
    }
    &-10 {
        margin-bottom:10px;
    }
    &-20 {
        margin-bottom:20px;
    }
    &-30 {
        margin-bottom:30px;
    }
    &-40 {
        margin-bottom:40px;
    }
    &-50 {
        margin-bottom:50px;
    }
    &-100 {
        margin-bottom:100px;
    }
}

.mr {
    &-0 {
        margin-top:0px;
    }
    &-10 {
        margin-right:10px;
    }
    &-20 {
        margin-right:20px;
    }
    &-30 {
        margin-right:30px;
    }
    &-40 {
        margin-right:40px;
    }
    &-50 {
        margin-right:50px;
    }
    &-100 {
        margin-right:100px;
    }
}

.ml {
    &-0 {
        margin-top:0px;
    }
    &-10 {
        margin-left:10px;
    }
    &-20 {
        margin-left:20px;
    }
    &-30 {
        margin-left:30px;
    }
    &-40 {
        margin-left:40px;
    }
    &-50 {
        margin-left:50px;
    }
    &-100 {
        margin-left:100px;
    }
}

.pt {
    &-0 {
        margin-top:0px;
    }
    &-10 {
        padding-top:10px;
    }
    &-20 {
        padding-top:20px;
    }
    &-30 {
        padding-top:30px;
    }
    &-40 {
        padding-top:40px;
    }
    &-50 {
        padding-top:50px;
    }
    &-100 {
        padding-top:100px;
    }
}

.pb {
    &-0 {
        margin-top:0px;
    }
    &-10 {
        padding-bottom:10px;
    }
    &-20 {
        padding-bottom:20px;
    }
    &-30 {
        padding-bottom:30px;
    }
    &-40 {
        padding-bottom:40px;
    }
    &-50 {
        padding-bottom:50px;
    }
    &-100 {
        padding-bottom:100px;
    }
}

.pr {
    &-0 {
        margin-top:0px;
    }
    &-10 {
        padding-right:10px;
    }
    &-20 {
        padding-right:20px;
    }
    &-30 {
        padding-right:30px;
    }
    &-40 {
        padding-right:40px;
    }
    &-50 {
        padding-right:50px;
    }
    &-100 {
        padding-right:100px;
    }
}

.pl {
    &-0 {
        margin-top:0px;
    }
    &-10 {
        padding-left:10px;
    }
    &-20 {
        padding-left:20px;
    }
    &-30 {
        padding-left:30px;
    }
    &-40 {
        padding-left:40px;
    }
    &-50 {
        padding-left:50px;
    }
    &-100 {
        padding-left:100px;
    }
}

.break {
    //margin-left:-100%;
    margin-right:-100%;
}

.orange {
    color:$secondary;
}
.button-custom1:hover {
    -webkit-animation: shake 1s;
    animation: shake 1s;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}