// base font
$base-font-family: 'Roboto', sans-serif;
$base-font-weight: 400;
$header-lg-weight: 700;
$header-md-weight: 600;
$header-sm-weight: 500;
$base-font-size: 16px;
body {
  font-family: $base-font-family;
}

// headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-family;
}

@mixin lg-heading($color:$primary, $font-size: 32px) {
  font-size: $font-size;
  color: $color;
  font-weight: $header-lg-weight;
  line-height: 1.7em;
  letter-spacing: -1px;
}

@mixin lg-heading-content($color:$primary, $font-size: 32px) {
  font-size: $font-size;
  color: $color;
  font-weight: $header-lg-weight;
  line-height: 1.7em;
  margin:0;
  letter-spacing: -1px;
}

@mixin md-heading($color:$primary, $font-size:28px) {
  font-size: $font-size;
  color: $color;
  font-weight: $header-md-weight;
  line-height: 1.7em;
  margin:0;
  letter-spacing: -1px;
}

@mixin sm-heading($color:$primary, $font-size:22px) {
  font-size: $font-size;
  color: $color;
  font-weight: $header-sm-weight;
  line-height: 1.7em;
  margin:0;
  letter-spacing: -1px;
}

@mixin paragraph($color:$default-text, $font-size:16px) {
  font-size: $font-size;
  color: $color;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.5em;
}

@mixin link($color:$primary, $font-size:1.1em) {
  font-size: $font-size;
  color: $color;
  line-height: 1.5em;
  text-decoration: none;
  &:hover {
      color: lighten($color, 5%);
      text-decoration: underline;
  }
  &:active {
      color: lighten($color, 5%);
      text-decoration: underline;
  }
  &:focus {
      color: lighten($color, 5%);
      text-decoration: underline;
  }
}

// Defaults 
h1 {
  @include lg-heading();
}

h2 {
  @include md-heading();
}

h3 {
  @include sm-heading();
}

p {
  @include paragraph();
}



