
$primary: #7BC2FF;
$secondary:#FAA26E;
$dark: #1B557E;
$default-text: #4A4A4A;
$light-text: #9B9B9B;

$error-color: #ce0000;
$success-color: #00d700;
$warning-color: #c5dade;

$base-font: 'Roboto', sans-serif;
$secondary-font: helvetica;
