// Custom.scss - All theme styles here

html, body {
        position: relative;
        height: 100%;
        width:100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    
    .new {
        min-height:1200px;
        display:block;
        float:left;
        clear:both;
    }

    /* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/Preloader_21.gif) center no-repeat #fff;
}

.scroll-top {
    position: fixed;
    display:none;
    z-index: 99;
    bottom:3%;
    right:3%;
    background: rgba(250, 162, 110, 0.88);
    padding:10px 15px;
    a {
        color:#FFF;
        font-size: 16px;
        text-decoration: none;
    }
}
